@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.hero__gradient {
  background: #b8ba31;
  background: radial-gradient(at center, #b8ba31, #b9713e00);
  filter: blur(150px);
}

.navbar__gradient {
  background: #7631ba;
  background: radial-gradient(at center, #7631ba, #894fc500);
  filter: blur(750px);
}

.text__gradient {
  background-image: linear-gradient(
    to right,
    #5200ff,
    #d500c1,
    #ff0085,
    #ff0657,
    #ff693b,
    #ff7839,
    #ff8639,
    #ff943b,
    #ff7f43,
    #ff6a4e,
    #ff535b,
    #ff3c6a
  );
}

.hero2__gradient {
  background: #ae3fbb;
  /* background: radial-gradient(at center, #ae3fbb, #512d14); */
  background: linear-gradient(0deg, #ae3fbb, #512d14);

  filter: blur(750px);
}

.card_gradient {
  background: #c3d0f9;
  background: radial-gradient(at center, #c3d0f9, #5136b9);
  filter: blur(500px);
}
.card2_gradient {
  background: #c3d0f9;
  background: radial-gradient(at center, #c3d0f9, #5136b9);
  filter: blur(110px);
}

.earn__gradient {
  background: #671835;
  background: linear-gradient(700deg, #671835, #512d14);
  filter: blur(500px);
}

.footer_gradient {
  background: #c3d0f9;
  background: radial-gradient(at center, #c3d0f9, #5136b9);
  filter: blur(200px);
}
