@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.hero__gradient {
  /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=b8ba31&c2=b9713e00&gt=r&gd=dcc
*/
  background: #b8ba31;
  background: radial-gradient(at center, #b8ba31, #b9713e00);
  filter: blur(150px);
}

.navbar__gradient {
  /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=7631ba&c2=894fc500&gt=r&gd=dcc
*/
  background: #7631ba;
  background: radial-gradient(at center, #7631ba, #894fc500);
  filter: blur(750px);
}
